<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div class="container" id="pjax-container">
    {{{body}}}
</div>
<script src="http://localhost:8000/static/js/sea.js?nowrap"></script>
<script>
    seajs.config({
        base: 'http://localhost:8000/'
    });
    seajs.use('public/js/index');
</script>
</body>
</html>
