<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
{{{body}}}
<script src="/dist/demo/0.0.1/index-debug.js"></script>
</body>
</html>
